
@import 'semantic';
@import 'weather'; 
//@import 'add-to-homescreen';

/* My Styles */

#cheney i {
    color: blue; 
    font-size: 10em; 
}

/*custom background*/

.bg-1 {
    background: lightgrey; 
}